{% if paginate.next %}
  <div class="pagination">
    <a class="more btn action small semi" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}" data-action="load-more-products" data-message="{{ 'general.pagination.products_loading' | t }}">
      <i class="fa fa-chevron-circle-down"></i> {{ 'general.pagination.products_more' | t }}
    </a>
  </div>
{% endif %}