{% if product.images.size > 1 %}
  <div class="navigation images-navigation">
    <a class="btn icon fa-stack" alt="Previous image" data-action="show-prev-image">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-left fa-stack-1x"></i>
    </a>
    <a class="btn icon fa-stack" alt="Next image" data-action="show-next-image">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-arrow-right fa-stack-1x"></i>
    </a>
  </div>
{% endif %}