
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=9fd2ffd4-b05d-4c44-a1b5-7ea61b5de055&fontids=1557749");
@font-face{
font-family:"Futura PT W08 Light";
src:url("Fonts/1557749/9bc55a53-8afc-4cb8-9e2f-473e9a69aabf.eot?#iefix");
src:url("https://cdn.shopify.com/s/files/1/1063/3186/files/9bc55a53-8afc-4cb8-9e2f-473e9a69aabf.eot?7927002138930581053") format("eot"),url("https://cdn.shopify.com/s/files/1/1063/3186/files/76b4b53b-4286-43b7-8f32-1c48f7d1d55f.woff2?7927002138930581053") format("woff2"),url("https://cdn.shopify.com/s/files/1/1063/3186/files/d8beb2f5-9a75-455f-95fa-58dcc6abbd4b.woff?7927002138930581053") format("woff"),url("https://cdn.shopify.com/s/files/1/1063/3186/files/672fed96-0618-49f9-8f87-e8e05fff0b16.ttf?7927002138930581053") format("truetype"),url("https://cdn.shopify.com/s/files/1/1063/3186/files/162e4d9e-e4bb-4e70-97c1-3acdf2959c74.svg?7927002138930581053") format("svg");
}
