{% assign not_showing_collections = true %}

<div class="content collections">
  {% if linklists.featured-collections.links.size > 0 %}
    {% for link in linklists.featured-collections.links %}
      {% assign collection = link.object %}
      {% include 'collection' %}
      {% assign not_showing_collections = false %}
    {% endfor %}
  {% else %}
    {% paginate collections by 6 %}
      {% for link in linklists.all-collections.links %}
        {% assign collection = link.object %}
        {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}
          {% include 'collection' %}
          {% assign not_showing_collections = false %}
        {% endunless %}
      {% endfor %}
      {% include 'collection-pagination' %}
    {% endpaginate %}
  {% endif %}

  {% if not_showing_collections %}
    <h2>{{ 'collections.general.collections' | t }}</h2>
    <h4>{{ 'collections.general.no_collections' | t }}</h4>
    <div class="row">
      <a href="/" class="btn small action">{{ 'general.404.continue_shopping' | t }}</a>
    </div>
  {% endif %}
</div>