<div class="content description">
<div class="titles">
<h2>Plans</h2>
</div>
<div class="plan-section">
	<div class="ps-delivery">
	<div class="ps-box">
    <a href="/products/waiakea-bottled-water-single" class="no-style">
	<div class="ps-inner">
	<div class="ps-hover">
		<h3>One<br />Time</h3>
		<span>Delivery</span><br/>
	</div>
	</div>
		<a class="btn-select" href="/products/waiakea-bottled-water-single">Select</a> 
      </a>
	</div>
<span class="ps-or">or</span>
	</div>
<div class="ps-monthly">
<div class="ps-box">
<a href="/products/monthly-recurring-subscription" class="no-style">
<div class="ps-inner">
<div class="ps-hover"><span>MONTH TO MONTH</span><br />
<h3>Save<br />10%</h3>
</div>
</div>
<a class="btn-select" href="/products/monthly-recurring-subscription">Select</a>
</a>
</div>
<div class="ps-box">
<a href="/products/3-month-subscription" class="no-style">
<div class="ps-inner">
<div class="ps-hover"><span>3 Month Plan</span>
<h3>Save<br />10%</h3>
</div>
</div>
<a class="btn-select" href="/products/3-month-subscription">Select</a>
</a>
</div>
<div class="ps-box">
<a href="/products/6-month-subscription" class="no-style">
<div class="ps-inner">
<div class="ps-hover"><span>6 Month Plan</span><br>
<h3>Save<br />15%</h3>
</div>
</div>
<a class="btn-select" href="/products/6-month-subscription">Select</a>
</a>
</div>
<div class="ps-box">
<a href="/products/12-month-subscription" class="no-style">
<div class="ps-inner">
<div class="ps-hover"><span>Annual Plan</span>
<h3>Save<br />20%</h3>
</div>
</div>
<a class="btn-select" href="/products/12-month-subscription">Select</a>
</a>
</div>
</div>
</div>
</div>
<img class="drops" alt="Waiakea " src="//cdn.shopify.com/s/files/1/1063/3186/t/2/assets/ShopifybottleBackground.jpg?2943444153170631379" />